# Node.js / Expo
node_modules/
.expo/
dist/
web-build/
*.tsbuildinfo

# Python
venv/
__pycache__/
.ruff_cache/
*.pyc

# Environment variables
.env
.env.*
!.env.example

# IDE / Editors
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
